{% extends 'base.html' %}


{% block content %}

<div class="container">
    <div class="p-4 m-4">
        <div class="col-lg-5 mx-auto border rounded px-2 py-2 pt-4">
            <h3 class="alert alert-light border rounded"> Login </h3>
            <form action="/login" method="post">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}
                
                <!-- email -->
                
                <div class="form-group pt-2 mx-3">
                  <label for="">Email</label>
                  <input required type="email" name="email" id="" value="{{values.email}}" class="form-control form-control sm" placeholder="Example@gmail.com" aria-describedby="helpId">
                  </div><br>
                  <!-- password -->
                <div class="form-group pt-2 mx-3">
                  <label for="">Password</label>
                  <input type="password" name="password" id="" class="form-control form-control sm" placeholder="********" aria-describedby="helpId">
                  </div><br>
                <!-- button -->
                <div class="form-group pt-2 mx-3">
                  <input type="submit" value ="Login" class="btn btn-sm btn-info col-lg-4">
                  </div><br>
                
                               
            </form>
        </div>
    </div>
</div>

{% endblock %}